%h3.bs-docs-featurette-title Tag Cloud
%br
.row
  .col-sm-12
    .well
      %h4{:style => "color: #515151;"} Tap tags for details
      #tagcloud{:style => "height: 400px;"}
  -#.col-sm-4
    -#.well
      -##bucloud{:style => "height: 400px;"}
  -#.col-sm-4
    -#.well
  -#    #totalcloud{:style => "height: 400px;"}

:javascript
  $(function() {
    // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
    var tag_array = JSON.parse('#{@tag_array.to_json}');
    $("#tagcloud").jQCloud(tag_array);
  });
