.page-header
  %h4 People
  - @people.each do |person|
    %a{href: "#{user_url(person)}"}
      = person.name

.page-header
  %h4 Skills
  .well
    %h4{:style => "color: #515151;"} Tap skills for details
    #skillcloud{:style => "height: 400px;"}

:javascript
  $(function() {
    var skill_array = JSON.parse('#{@skill_array.to_json}');
    $("#skillcloud").jQCloud(skill_array);
  });
